.App {
  text-align: center;
  font-size: 20px;
  color: #282c34;
  margin-left: 0%;
  margin-right: 0%;
  min-height: 700px;
  background-color: white;
}

h1 {
  color: chocolate;
  text-shadow: 1px 1px black;
}

button {
  border-radius: 10px;
  margin-left: 10px;
  font-size: 26px;
  background-color: chocolate;
  overflow: visible;
}

.App-header {
  background-color: chocolate;
  height: 15%;
  width: 100%;
  font-size: 25px;
  color: white;
}

.atable {
  background-color: chocolate;
  border-radius: 30px;
  margin-bottom: 50px;
  margin-top: 5px;
  font-size: 20px;
  width: 100%;
  text-align: left;
}

.neg {
  color: red;
  background: lightgrey;
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 70%;
  margin-left: 15%;
}

.pos {
  color: green;
  background: lightgrey;
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 70%;
  margin-left: 15%;
}
